<section>
  <div class="container">
    <h1>Hosted Microform</h1>
    <p>FORM valid: {{form.valid}}</p>
    <form [formGroup]="form">
      <div class="form-row">
        <div class="col-md-12">
          <label for="cardHolderName">Name</label>
          <input type="text" id="cardHolderName" formControlName="cardHolderName" class="form-control">
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <label for="expiryMonth">Expiry Month</label>
          <select formControlName="expiryMonth" class="form-control">
            <option value="01">January</option>
            <option value="02">February</option>
            <option value="03">March</option>
            <option value="04">April</option>
            <option value="05">May</option>
            <option value="06">June</option>
            <option value="07">July</option>
            <option value="08">August</option>
            <option value="09">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="expiryYear">Expiry Year</label>
          <select formControlName="expiryYear" class="form-control">
            <option>2024</option>
            <option>2025</option>
            <option>2026</option>
          </select>
        </div>
      </div>
      <div class="form-row" style="padding-top:1rem;">
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">
          Add Payment Method
        </button>
      </div>
    </form>
  </div>
</section>