<section>
  <h1>Testing Hosted Microform</h1>
  <form *ngIf="!iFrameSrc" [formGroup]="form">
    <div class="form-row">
      <div class="col-md-12">
        <label for="bearerToken">Bearer Token</label>
        <input type="text" autofocus id="bearerToken" formControlName="bearerToken" class="form-control">
      </div>
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary" (click)="openIFrame()">
          Open Hosted Microform
        </button>
        <div class="error_text">{{ errorMessage }}</div>
      </div>
    </div>
  </form>
  <iframe *ngIf="isIFrameVisible()" id="hosted-microform" frameborder="0" [src]="iFrameSrc | safe"></iframe>
</section>