<section>
  <div class="alert alert-danger text-center" role="alert" *ngIf="errorMessage">
    {{errorMessage}}
  </div>
  <div class="card" *ngIf="isUserAuthorized" [ngClass]="isMicroformScriptLoaded ? '' : 'hidden'">
    <div class="card-title">
      Accepted Cards
      <img src="assets/img/accepted-cards.png">
    </div>
    <div class="card-body">
      <form [formGroup]="form">
        <div class="form-row">
          <div class="col-xs-6">
            <label for="cardNumber">Card Number</label>
            <div id="cardNumber-container" class="form-control"></div>
            <div class="text_error" *ngIf="cardNumberValidationError">
              {{cardNumberValidationError}}
            </div>
          </div>
          <div class="col-xs-6">
            <label for="securityCode">Security Code</label>
            <div id="securityCode-container" class="form-control"></div>
            <div class="text_error" *ngIf="securityCodeValidationError">
              {{securityCodeValidationError}}
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-xs-4">
            <label for="expiryMonth">Expiry Month</label>
            <select id="expiryMonth" formControlName="expiryMonth" class="form-control">
              <option value="01">January</option>
              <option value="02">February</option>
              <option value="03">March</option>
              <option value="04">April</option>
              <option value="05">May</option>
              <option value="06">June</option>
              <option value="07">July</option>
              <option value="08">August</option>
              <option value="09">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
          </div>
          <div class="col-xs-4">
            <label for="expiryYear">Expiry Year</label>
            <select id="expiryYear" formControlName="expiryYear" class="form-control">
              <option *ngFor="let item of expiryYears" [value]="item">{{ item }}</option>
            </select>
          </div>
          <div class="col-xs-4">
            <label for="zipCode">Zip Code</label>
            <input type="text" id="zipCode" formControlName="zipCode" class="form-control">
          </div>
        </div>
        <!-- <div class="form-row" *ngIf="errorMessage">{{errorMessage}}</div> -->
        <div class="form-row" style="padding-top:1rem;">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]="!allowSubmit()">
              Add Payment Method
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>