h1 {
  margin: 0 auto;
  color: #509fe6;
  font-weight: 700;
}
label {
  color: #000;
  display: inline-block;
  margin: .25rem 0;
}
#cardNumber-container {
  width: 15rem;
}
#securityCode-container {
  width: 6rem;
}
#cardNumber-container,
#securityCode-container {
  height: 2.5rem;
}
#expiryMonth {
  width: 10.5rem;
}
#expiryYear {
  width: 5rem;
}
#zipCode {
  width: 5rem;
}
.text_error {
  margin-top: 0;
  margin-bottom: 10px;
}