label {
  color: #000;
  display: inline-block;
  margin: 0.25rem 0;
}
input, label, select {
  font-size: 14px;
}
.alert {
  font-size: 1.25rem;
}
.card {
  padding: 0;
}
.card-title {
  font-size: 1.1rem;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.176); /* same as card border */
}
.card-title img {
  height: 1.2rem;
  padding-left: 1rem;
}
.card-body {
  padding-top: 0.15rem;
}
#cardNumber-container {
  width: 15rem;
}
#securityCode-container {
  width: 6rem;
}
#cardNumber-container,
#securityCode-container {
  height: 2.5rem;
}
#expiryMonth {
  width: 10.5rem;
}
#expiryYear {
  width: 5rem;
}
#zipCode {
  width: 5rem;
}
.text_error {
  margin-top: 0;
  margin-bottom: 10px;
}